.graphWrapper {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  flex: auto;
  display: flex;
}
.graph {
  flex: auto;
}

.coreqs,
.strictCoreqs {
  stroke-dasharray: 5 5;
}

.prereq {
  --ball-color: #fee2e2;
}
.blocking {
  --ball-color: #dbeafe;
}
.directPrereq {
  --ball-color: #fca5a5;
}
.directCoreq {
  --ball-color: #fdba74;
}
.directStrictCoreq {
  --ball-color: #fde047;
}
.directBlocking {
  --ball-color: #93c5fd;
}

.square {
  border-radius: 5px;
}
.triangleShape {
  display: none;
  position: absolute;
  inset: -5px;
  width: 40px;
  height: 40px;
  z-index: -1;
}
.triangle {
  background-color: transparent !important;
  border: 0;

  & .triangleShape {
    display: block;
  }
}

.tooltipReqType {
  font-style: italic;
}

.options {
  color-scheme: dark;
  background-color: #0f172a;
  color: #f1f5f9;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  overflow-y: auto;
  flex: none;
  width: 330px;

  & h2,
  & p {
    margin: 0;
  }
}
