.graph {
  --term-count: 1;
  --longest-term-length: 1;
  display: grid;
  /* https://stackoverflow.com/a/61240964 */
  grid-template-columns: repeat(var(--term-count), minmax(0, 1fr));
  grid-template-rows: auto repeat(var(--longest-term-length), minmax(0, 1fr)) auto;
  position: relative;
  z-index: 0;
  color: #0f172a;
  column-gap: 10px;
  row-gap: 20px;
}
.links {
  position: absolute;
  stroke: currentColor;
  fill: none;
  transition: opacity 0.2s;
  color: #64748b;
}
.link {
  marker-end: url(#arrow);
}
.arrow {
  stroke: none;
  fill: currentColor;
}

.termHeading,
.termFooter {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.termHeading {
  font-weight: bold;
  grid-row: 1;
}
.termFooter {
  grid-row: auto / -1;
  white-space: pre-wrap;
}
.termBackground {
  grid-row: 1 / -1;
  background-color: #f8fafc;
  position: relative;
  z-index: -1;
  border-radius: 10px;
}

.course {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  --ball-color: #e2e8f0;
  --border-color: #64748b;
}
.courseBall {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  stroke: var(--border-color);
  background-color: var(--ball-color);
  fill: var(--ball-color);
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, fill 0.2s,
    stroke 0.2s;
}
.courseName {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  position: relative;
  z-index: 0;
  transition: opacity 0.2s;

  &::before {
    content: attr(title);
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-text-stroke: 6px #f8fafc;
    opacity: 0.7;
  }
}

.courseSelected {
  .allLinks {
    opacity: 0.2;
  }
  .highlightedLinks {
    opacity: 1;
  }
  .course:not(.highlighted) {
    z-index: 1;
    .courseName {
      opacity: 0.2;
    }
    .courseBall {
      color: #0f172a22;
      border-color: color-mix(in srgb, var(--border-color) 13%, transparent);
      stroke: color-mix(in srgb, var(--border-color) 13%, transparent);
      background-color: color-mix(in srgb, var(--ball-color) 13%, white);
      fill: color-mix(in srgb, var(--ball-color) 13%, white);
    }
  }
}
.highlighted {
  z-index: 3;
}
.selected {
  /* Needed because the tooltip is a child of the course. */
  z-index: 4;
}
.highlightedLinks {
  z-index: 2;
  pointer-events: none;
  opacity: 0;
}
.longestPath {
  stroke: #3b82f6;
  stroke-width: 5;
  stroke-linecap: round;
}

.tooltip {
  position: absolute;
  z-index: 10;
  width: 250px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  animation: tooltip-show 0.2s;
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s;
  text-align: left; /* TEMP */

  &::before {
    content: '';
    position: absolute;
    left: var(--left);
    border: 0 solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 5px;
    border-top-width: 1px;
    border-left-width: 1px;
    padding: 8px;
    margin: -8px;
    background-color: white;
  }
}
@keyframes tooltip-show {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(var(--hidden-shift-y));
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}
.tooltipTop {
  --hidden-shift-y: 10px;
  margin-top: 15px;

  &::before {
    top: -1px;
    transform: rotate(45deg);
  }
}
.tooltipBottom {
  --hidden-shift-y: -10px;
  margin-bottom: 15px;

  &::before {
    bottom: -1px;
    transform: rotate(-135deg);
  }
}
.tooltipHidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  animation: none;
}
.tooltipTitle {
  margin: 10px 10px 5px;
  font-size: 1.2em;
}
.tooltipTable {
  width: 100%;
  border-collapse: collapse;
}
.tooltipKey,
.tooltipValue {
  padding: 0 10px;
  vertical-align: top;
}
.tooltipKey {
  text-align: left;
  font-weight: normal;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.tooltipReqHeading {
  font-size: 1em;
  margin: 10px 10px -5px;
}
.tooltipReqs {
  margin: 0;
  padding: 10px;
  list-style: none;
}
.tooltipReq {
  display: flex;
  justify-content: space-between;
}
