.graph {
  display: grid;
  grid-auto-flow: column;
  position: relative;
  z-index: 0;
  color: #0f172a;
}
.links {
  position: absolute;
  stroke: currentColor;
  fill: none;
  z-index: -1;
  transition: opacity 0.2s;
  color: #64748b;
}
.arrow {
  stroke: none;
  fill: currentColor;
}
.prereqs,
.coreqs,
.strictCoreqs {
  marker-end: url(#arrow);
}
.coreqs,
.strictCoreqs {
  stroke-dasharray: 5 5;
}

.termHeading,
.termFooter {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.termHeading {
  font-weight: bold;
}

.course {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 3;
}
.courseBall {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid currentColor;
  background-color: #e2e8f0;
  transition: color 0.2s, background-color 0.2s;
}
.courseName {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  position: relative;
  transition: opacity 0.2s;

  &::before {
    content: attr(title);
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-text-stroke: 6px #f8fafc;
    opacity: 0.5;
  }
}

.courseSelected {
  .allLinks {
    opacity: 0.2;
  }
  .highlightedLinks {
    opacity: 1;
  }
  .course:not(.highlighted) {
    z-index: 1;
    .courseName {
      opacity: 0.2;
    }
    .courseBall {
      color: #0f172a22;
      background-color: #f8fafc;
    }
  }
}
.highlightedLinks {
  z-index: 2;
  pointer-events: none;
  opacity: 0;
}
.highlighted {
  position: relative;
}
.prereq .courseBall {
  background-color: #fee2e2;
}
.blocking .courseBall {
  background-color: #dbeafe;
}
.directPrereq .courseBall {
  background-color: #fca5a5;
}
.directCoreq .courseBall {
  background-color: #fdba74;
}
.directStrictCoreq .courseBall {
  background-color: #fde047;
}
.directBlocking .courseBall {
  background-color: #93c5fd;
}
.longestPath {
  stroke: #3b82f6;
  stroke-width: 3;
  stroke-dasharray: 10 10;
  stroke-linecap: round;
}

.tooltip {
  position: absolute;
  z-index: 5;
  top: 100%;
  margin-top: 15px;
  width: 200px;
  height: 300px;
  background-color: white;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  animation: tooltip-show 0.2s;
  transition: all 0.2s;
}
@keyframes tooltip-show {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}
.tooltip::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  border: 0 solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-top-width: 1px;
  border-left-width: 1px;
  padding: 8px;
  margin: -8px;
  transform: rotate(45deg);
  background-color: white;
}
.tooltipHidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
}
